[submodule "gateway"]
  path = gateway
  url = git@github.com:kakitomeru/gateway.git
[submodule "auth"]
  path = auth
  url = git@github.com:kakitomeru/auth.git
[submodule "snippet"]
  path = snippet
  url = git@github.com:kakitomeru/snippet.git
[submodule "shared"]
  path = shared
  url = git@github.com:kakitomeru/shared.git